.gameboard {
    width: 400px;
}
.button {
    width: 200px;
    height: 200px;
    float: left;
}
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}
